*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#grid-container{
  display: grid;
  grid-template-areas:
  'header'
  'menu'
  'main'
  'footer';
  background-color: darkgray;
  gap: 1em;
  padding-bottom: 1em;
}

#header{
    grid-area: header;
    background-color: green;
}

#menu{
    grid-area: menu;
    background-color: darkgrey;
}

#main{
    grid-area: main;
    border: 1px, solid, black;
}

#footer{
    grid-area: footer;
}

#googleMap{
    width:100%;
    height:400px;
}

@media (min-width: 768px) {
    #grid-container{
        display: grid;
        grid-template-areas:
        'header header header header'
        'menu main main main'
        'footer footer footer footer';
        background-color: darkgray;
        gap: 1em;
        padding-bottom: 1em;
      }
      
      #header{
          grid-area: header;
          background-color: green;
      }
      
      #menu{
          grid-area: menu;
          background-color: darkgrey;
      }
      
      #main{
          grid-area: main;
          border: 1px solid black;
      }
      
      #footer{
          grid-area: footer;
      }
      
      #googleMap{
          width:100%;
          height:400px;
      }
}